<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>周报系统</title>
    <link rel="stylesheet" href="/frame/layui/css/layui.css">
    <link rel="stylesheet" href="/frame/static/css/style.css">
    <style>
        .layui-form-label{
            width: 100px;
        }
        .layui-input-block {
            margin-left: 130px;
            min-height: 36px
        }
    </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">周报系统</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="test">
                <li class="layui-nav-item layui-this"><a href="">用户管理</a></li>

            </ul>
        </div>
    </div>

    <div class="layui-body">

        <div class="my-btn-box">
            <span class="fl">
                <div class="searchBtn">
                    <span class="layui-form-label">输入员工号：</span>
                <div class="layui-inline">
                 <input class="layui-input" name="id" id="searchfield" autocomplete="off" placeholder="请输入员工号">
                </div>
                  <button class="layui-btn" data-type="reload">查询</button>
                  <button data-type="addbtn" id="addbtn" class="layui-btn">新增用户</button>
                </div>

            </span>
        </div>
        <div class="layui-tab-item layui-show">
        <table class="layui-hide" id="alluser" lay-filter="alluser"></table>
        </div>

    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        ©到底了！！
    </div>
</div>

<script type="text/html" id="bar">
    <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="edit">编辑</a>
    {{# if(d.reserve1!="admin"){
    }}
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    {{# } }}
</script>

<script src="/frame/layui/layui.js"></script>
<script>
    layui.use(['table','form'], function() {
        var table = layui.table,
            form = layui.form;

        //第一个实例
        table.render({
            elem: '#alluser'
            , height:  'full-200'
            , url: '/user/getallusers' //数据接口
            , page: true //开启分页
            ,cellMinWidth: 80
            ,id: 'alluser'
            ,initSort: {
                field: 'workId' //排序字段，对应 cols 设定的各字段名
                ,type: 'desc' //排序方式  asc: 升序、desc: 降序、null: 默认排序
            }
            , cols: [
                [ //表头
                    {field: 'domainId', title: '域账号', width: 120, sort: true, fixed: 'left'}
                    , {field: 'workId', title: '员工号', width: 120}
                    , {field: 'name', title: '姓名', width: 120}
                    , {field: 'gender', title: '性别', width: 80,templet:function(d){
                        if(d.gender == '1'){
                            return "男";
                        }else{
                            return "女";
                        }}
                        }
                        ,{field: 'emailAddress', title: '企业邮箱', width: 240}
                    ,{field: 'reserve1', title: '权限', width: 100,templet:function(d){
                        if(d.reserve1 == "admin"){
                            return "管理员";
                        }else{
                            return "普通用户";
                        }}
                        }
                    , {fixed: 'right',  title: '操作',width: 165, align:'center', toolbar: '#bar'}
                ]
            ]
        });


        var $ = layui.$, active = {
            reload: function(){
                var searchfield = $('#searchfield');

                //执行重载
                table.reload('alluser', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                            workId: searchfield.val()
                    }
                }, 'data');
            }
        };

        $('.searchBtn .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });





        //监听行工具事件
        table.on('tool(alluser)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data //获得当前行数据
                ,layEvent = obj.event; //获得 lay-event 对应的值
            var editdata = data;
            // alert(editdata)
            if(layEvent === 'detail'){
                layer.alert(JSON.stringify(data), {
                    title: '当前行数据：'
                });
                layer.msg('查看操作');
            } else if(layEvent === 'edit'){
                layer.open({
                    //layer提供了5种层类型。可传入的值有：0（信息框，默认）1（页面层）2（iframe层）3（加载层）4（tips层）
                    type: 1,
                    title: "修改用户["+data.domainId+"]的用户信息",
                    area: ['600px', '500px'],
                    content: $("#popUpdateTest")//引用的弹出层的页面层的方式加载修改界面表单
            });
                //表单初始赋值
                form.val('useredit', {
                    "workId": editdata.workId
                    ,"name": editdata.name
                    ,"gender": editdata.gender
                    ,"emailAddress":editdata.emailAddress
                    ,"reserve1":editdata.reserve1=="admin"?false:true
                });

                //动态向表传递赋值可以参看文章进行修改界面的更新前数据的显示，当然也是异步请求的要数据的修改数据的获取
                editUser(obj,data);
            }else if(layEvent === 'del'){
                layer.confirm('确定删除该用户吗？', function(index){
                    $.ajax({
                        url:'user/deleteuser',
                        type:"POST",
                        data:data,
                        success: function (msg) {
                                //删除这一行
                                obj.del();
                                //关闭弹框
                                layer.close(index);
                                layer.msg("删除成功", {icon: 6});
                            } ,
                        error:function(msg){
                            layer.close(index);
                            layer.msg("删除失败", {icon: 5});
                        }
                    });
                    return false;
                });
            }
        });

        //添加用户
        $('#addbtn').on('click', function(){
            layer.open({
                type: 1,
                title: '用户添加',
                maxmin: true,
                area: ['600px', '500px'],
                shadeClose: false, //点击遮罩不会关闭
                content:  $("#popAddTest")
            });
            addUser();
        });


        function addUser(){
            form.on('submit(addsubmit)', function(data){
                $.ajax({
                    type: "POST",
                    contentType: "application/x-www-form-urlencoded",
                    url: "/user/register",
                    data: data.field,
                    xhrFields:{
                        withCredentials:true
                    },
                    success: function(data) {
                        if (data.status == "success") {
                            layer.msg("用户新增成功!");
                        } else {
                            layer.msg("注册失败，原因为:" + data.data.errMsg);
                        }
                    },
                    error: function(data) {
                        alert("注册失败，原因为:" + data.responseText);
                    }
                });
                return false;
            });
        }
        function editUser(obj,data){

            form.on('submit(editsubmit)', function(message) {
                // console.log(data, '**', message)
                // event.preventDefault();
                debugger
                layui.jquery.ajax({
                    url:"/user/edituser",
                    type:"POST",
                    data:{domainId:data.domainId,
                        workId:message.field.workId,
                        name:message.field.name,
                        gender:message.field.gender,
                        emailAddress:message.field.emailAddress,
                        reserve1:message.field.reserve1=="on"?" ":"admin"
                    },
                    success:function (msg) {
                            layer.closeAll('loading');
                            layer.load(2);
                            layer.msg("修改成功", {icon: 6});
                            setTimeout(function(){
                                obj.update({
                                    workId:message.field.workId,
                                    name:message.field.name,
                                    gender:message.field.gender,
                                    emailAddress:message.field.emailAddress,
                                    reserve1:message.field.reserve1
                                });//修改成功修改表格数据不进行跳转
                                layer.closeAll();//关闭所有的弹出层
                            }, 1000);
                            // 加载层-风格
                        },
                    error:function(msg){
                       layer.msg("修改失败", {icon: 5});
                    }
                });
                return false;
            });
        }

    });
</script>

<!--//这里是弹出层的表单信息-->
<!--//表单的id用于表单的选择，style是在本页隐藏，只有点击编辑才会弹出-->
<div class="layui-row" id="popUpdateTest" style="display:none;">
    <div class="layui-col-md10">
        <form class="layui-form layui-from-pane" action="" style="margin-top:20px" lay-filter="useredit">
            <div class="layui-form-item">
                <label class="layui-form-label">员工号</label>
                <div class="layui-input-block">
                    <input type="text" name="workId"  required readonly="readonly"  lay-verify="required" autocomplete="off" placeholder="员工号" class="layui-input">

                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">姓名</label>
                <div class="layui-input-block">
                    <input type="text" name="name"  required  lay-verify="required" autocomplete="off" placeholder="姓名" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">性别</label>
                <div class="layui-input-block">
                    <input type="radio" name="gender" value="1" title="男" checked="">
                    <input type="radio" name="gender" value="2" title="女">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">企业邮箱</label>
                <div class="layui-input-block">
                    <input type="text" name="emailAddress"  required  lay-verify="required" autocomplete="off" placeholder="企业邮箱" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">权限</label>
                <div class="layui-input-block">
                    <input type="checkbox" checked="" name="reserve1" lay-skin="switch" lay-filter="switch" lay-text="普通用户|管理员权限">
                </div>
            </div>
            <div class="layui-form-item" style="margin-top:40px">
                <div class="layui-input-block">
                    <button class="layui-btn  layui-btn-submit " lay-submit="" lay-filter="editsubmit">确认修改</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="layui-row" id="popAddTest" style="display:none;">
    <div class="layui-col-md10">
        <form class="layui-form layui-from-pane" action="" style="margin-top:20px" lay-filter="useradd">
            <div class="layui-form-item">
                <label class="layui-form-label">域账号</label>
                <div class="layui-input-block">
                    <input type="text" name="domainId"  required  lay-verify="required" autocomplete="off" placeholder="域账号" class="layui-input">

                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">员工号</label>
                <div class="layui-input-block">
                    <input type="text" name="workId"  required  lay-verify="required" autocomplete="off" placeholder="员工号" class="layui-input">

                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">姓名</label>
                <div class="layui-input-block">
                    <input type="text" name="name"  required  lay-verify="required" autocomplete="off" placeholder="姓名" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">性别</label>
                <div class="layui-input-block">
                    <input type="radio" name="gender" value="1" title="男" checked="">
                    <input type="radio" name="gender" value="2" title="女">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">企业邮箱</label>
                <div class="layui-input-block">
                    <input type="text" name="emailAddress"  required  lay-verify="required" autocomplete="off" placeholder="企业邮箱" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">权限</label>
                <div class="layui-input-block">
                    <input type="checkbox" checked="" name="reserve1" lay-skin="switch" lay-filter="switch" lay-text="普通用户|管理员权限">
                </div>
            </div>
            <div class="layui-form-item" style="margin-top:40px">
                <div class="layui-input-block">
                    <button class="layui-btn  layui-btn-submit " lay-submit="" lay-filter="addsubmit">新增提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>