<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增周报</title>
    <link rel="stylesheet" href="/frame/layui/css/layui.css"/>
    <script src="/frame/layui/layui.js"></script>
    <link rel="stylesheet" href="../static/frame/layui/css/layui.css">
    <script src="../static/frame/layui/layui.js"></script>
    <script src="/frame/static/js/jquery-3.2.1.js"></script>

    <script type="text/javascript">
        var weeklypro_id = 0;
        var user_id;
        var user_name;
        var work_id;
        var rp_status="2";
        var daterange ="2019-07-08 - 2019-07-24";
        var sys_date ="yyyymmdd";;
        var questioninfo = "";
        var questionmethod = "";
        var riskinfo= "";
        var riskmethod = "";
        var weeksuminfo = "";
        var nextweekinfo= "";
        //返回从问号 (?) 开始的 URL（查询部分）
        var parameter = decodeURI(location.search.substr(1));
        var parameters = parameter.split("&");//从&处拆分，返回字符串数组
        console.log("参数列表" + parameters);
        for (var i = 0; i < parameters.length; i++) {
            console.log("参数键值对值" + i + ":" + parameters[i]);
            var m2 = parameters[i].indexOf("=");//获得每个键值对=号的位置
            var name = parameters[i].substr(0, m2);
            var value = parameters[i].substr(m2 + 1);//获取每个键值对=号后面具体的值
            if (name == "weeklypro_id") {
                window.model_id = value;
                console.log("参数值" + "window.weeklypro_id" + ":" + window.weeklypro_id);
            } else if (name == "user_id") {
                window.user_id = value;
                console.log("参数值" + "window.user_id" + ":" + window.user_id);
            } else if (name == "name") {
                window.name = value;
                console.log("参数值" + "window.user_name" + ":" + window.name);
            } else if (name == "work_id") {
                window.work_id = value;
                console.log("参数值" + "window.work_id" + ":" + window.work_id);
            } else if (name == "rp_status") {
                window.rp_status = value;
                console.log("参数值" + "window.rp_status" + ":" + window.rp_status);
            } else if (name == "daterange") {
                window.daterange = value;
                console.log("参数值" + "window.daterange" + ":" + window.daterange);
            } else if (name == "sys_date") {
                window.sys_date = value;
                console.log("参数值" + "window.sys_date" + ":" + window.sys_date);
            } else if (name == "questioninfo") {
                window.questioninfo = value;
                console.log("参数值" + "window.questioninfo" + ":" + window.questioninfo);
            } else if (name == "questionmethod") {
                window.questionmethod = value;
                console.log("参数值" + "window.questionmethod" + ":" + window.questionmethod);
            } else if (name == "riskinfo") {
                window.riskinfo = value;
                console.log("参数值" + "window.riskinfo" + ":" + window.riskinfo);
            } else if (name == "riskmethod") {
                window.riskmethod = value;
                console.log("参数值" + "window.riskmethod" + ":" + window.riskmethod);
            } else if (name == "weeksuminfo") {
                window.weeksuminfo = value;
                console.log("参数值" + "window.weeksuminfo" + ":" + window.weeksuminfo);
            } else if (name == "nextweekinfo") {
                window.nextweekinfo = value;
                console.log("参数值" + "window.nextweekinfo" + ":" + window.nextweekinfo);
            }
        }

        //加载网页时调用autoLoad方法
        // window.onload = autoLoad;
    </script>



</head>
<script src="/frame/layui/layui.js"></script>
<script src="/frame/layui/lay/modules/jquery.js"></script>
<script>
    $(function(){
        //alert("进入方法")
        function init(){
            getshowinfo();
            getsenddate();
        }
        init();
    });
    function getsenddate(){
        var myDate=new Date;
        $('#senddate').text( myDate.toLocaleDateString());
    }
    function addline(tablename){
        var tablenames='#'+tablename;
        var ids = $(tablenames).find("tr").length ;
        var tr=' <tr>\n' +
            '                    <td ></td>\n' +
            '                    <td>\n' +
            '                       <div class="layui-form-item layui-form-text">\n'+
            '                        <textarea name="questioninfo" placeholder="请输入内容" class="layui-textarea" style="OVERFLOW: hidden;border:0px"></textarea>\n' +
            '                        <\div>\n'+
            '                    </td>\n' +
            '                       <div class="layui-form-item layui-form-text">\n'+
            '                    <td><textarea name="questionmethod" placeholder="请输入内容" class="layui-textarea" style="overflow: hidden;"></textarea></td>\n' +
            '                        <\div>\n'+
            '\n' +
            '                </tr>;'

        $(tablenames).append(tr);

        $(tablenames).find("tr").last().find("td").first().text(ids)

    }

    layui.use('laydate', function(){
        var laydate = layui.laydate;
        //执行一个laydate实例
        laydate.render({
            elem: '#test1' ,//指定元素
            range: true
        });
    })

    function  getconfig(){

        if ($('#test1').val() == "")

        {
            alert("日期区间不填写，无法查询内容")
        }
        {
            var name = "周莹";
            $('#addbutton').attr('disabled', "disabled");
            $.ajax({
                type: "GET",
                url: '/selectconfig',
                data: {"name": name},
                async: false,
                statusCode: {
                    404: function () {
                        alert('查询失败');
                    }
                },
                success: function (data, textStatus) {
                    alert("保存成功");
                    if (data.problemdisplay == "off") {//如果配置显示
                        $('#problemtables').hide();

                    }
                    if (data.riskdisplay == "off") {
                        $('#risktables').hide();
                    }
                    if (data.bugdisplay == "off") {//如果配置显示
                        $('#bugtables').hide();

                    } else {
                        getbuginfo();
                    }
                    if (data.tsdisplay == "off") {//如果配置显示
                        $('#tstables').hide();

                    } else {
                        gettsinfo();
                    }
                }
            });
        }
    }

    //执行渲染
    //获取QC信息
    function  getbuginfo(){
        var daterange= $('#test1').val();
        $.ajax({
            type: "GET",
            url: '/getbuginfo',
            data: {"daterange": daterange},
            dataType:"json",
            async: false,
            statusCode: {
                404: function () {
                    alert('查询失败');
                }
            },
            success: function (data, textStatus) {

                for(var key in data) {   //key    data[key]
                    var th = '<th id=' + key + '></th>';
                    var tds = '<td id=' + key + 'data' + '></td>';
                    $('#bugtables').find("thead").find("tr").append(th);
                    $('#' + key).text(key);
                    $('#bugtables').find("tbody").find("tr").append(tds);
                    $('#' + key + 'data').text(data[key]);

                }
            }
        });
    }
    //获取ts信息
    function  gettsinfo(){
        var daterange= $('#test1').val();
        $.ajax({
            type: "GET",
            url: '/gettsinfo',
            data: {"daterange": daterange},
            dataType:"json",
            async: false,
            statusCode: {
                404: function () {
                    alert('查询失败');
                }
            },
            success: function (data, textStatus) {
                alert('查询成功');
                for(var key in data) {   //key    data[key]
                    var th = '<th id=' + key + '></th>';
                    var td = "<td ><input id=" + key + "data"+ " type='text'  autocomplete='off' class='layui-input'/></td>";

                    $('#tstables').find("thead").find("tr").append(th);
                    $('#' + key).text(key);
                    $('#tstables').find("tbody").find("tr").append(td);
                    $('#' + key + 'data').val(data[key]);

                }
            }
        });
    }


    //获取用户展示信息
    function getshowinfo() {
        // var name="周莹";
        // var workid="22930";
        $.ajax({
            type: "GET",
            url: '/getshowinfomation',
            //data: {"name": name, "workid": workid},
            date:{},
            async: false,
            statusCode: {
                404: function () {
                    alert('查询失败');
                }
            },
            success: function (data, textStatus) {
                $('#username').html(data.name);
                $('#workid').html(data.work_id);
                var unit=data.reserve2+"-"+data.reserve3;
                $('#userunit').html(unit);

            }
        });
    }

    function  sendmail(btn_sendMail){
        //savefun();
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "/save/mailSender",
            data:{},
            success: function (ret) {
                console.log(ret);
                if (ret.isOk) {
                    layer.msg("操作成功", {time: 1000}, function () {
                        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                        parent.layer.close(index);
                        window.parent.location.href = "/homepage"
                    });
                } else {
                    layer.msg(ret.msg, {time: 1000});
                }
            }

        });
    }
    layui.use(['element', 'form', 'layer', 'jquery','upload','table','laydate'], function () {
        var form = layui.form
            , layer = layui.layer
            , $ = layui.jquery
            ,laydate =layui.laydate
            ,upload = layui.upload;//上传

        //监听登陆提交
        form.on('submit(contentsave)', function (data) {
            savefun = function() {
                console.log(data.elem);//被执行事件的元素DOM对象，一般为button对象
                console.log(data.form);//被执行提交的form对象，一般在存在form标签时才会返回
                console.log(data.field);//当前容器的全部表单字段，名值对形式：{name: value}
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: "/save/information",
                    data: data.field,
                    success: function (ret) {
                        console.log(ret);
                        if (ret.isOk) {
                            layer.msg("操作成功", {time: 1000}, function () {
                                var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                                parent.layer.close(index);
                                window.parent.location.href = "/showinfomation"
                            });
                        } else {
                            layer.msg(ret.msg, {time: 1000});
                        }
                    }
                });
                return false;
            }
        });

        //多文件列表示例
        var demoListView = $('#demoList')
            ,uploadListIns = upload.render({
            elem: '#testList'
            ,url: '/upload/'
            ,accept: 'file'
            ,multiple: true
            ,auto: false
            ,bindAction: '#testListAction'
            ,choose: function(obj){
                var files = this.files = obj.pushFile(); //将每次选择的文件追加到文件队列
                //读取本地文件
                obj.preview(function(index, file, result){
                    var tr = $(['<tr id="upload-'+ index +'">'
                        ,'<td>'+ file.name +'</td>'
                        ,'<td>'+ (file.size/1014).toFixed(1) +'kb</td>'
                        ,'<td>等待上传</td>'
                        ,'<td>'
                        ,'<button class="layui-btn layui-btn-xs demo-reload layui-hide">重传</button>'
                        ,'<button class="layui-btn layui-btn-xs layui-btn-danger demo-delete">删除</button>'
                        ,'</td>'
                        ,'</tr>'].join(''));

                    //单个重传
                    tr.find('.demo-reload').on('click', function(){
                        obj.upload(index, file);
                    });

                    //删除
                    tr.find('.demo-delete').on('click', function(){
                        delete files[index]; //删除对应的文件
                        tr.remove();
                        uploadListIns.config.elem.next()[0].value = ''; //清空 input file 值，以免删除后出现同名文件不可选
                    });

                    demoListView.append(tr);
                });
            }
            ,done: function(res, index, upload){
                if(res.code == 0){ //上传成功
                    var tr = demoListView.find('tr#upload-'+ index)
                        ,tds = tr.children();
                    tds.eq(2).html('<span style="color: #5FB878;">上传成功</span>');
                    tds.eq(3).html(''); //清空操作
                    return delete this.files[index]; //删除文件队列已经上传成功的文件
                }
                this.error(index, upload);
            }
            ,error: function(index, upload){
                var tr = demoListView.find('tr#upload-'+ index)
                    ,tds = tr.children();
                tds.eq(2).html('<span style="color: #FF5722;">上传失败</span>');
                tds.eq(3).find('.demo-reload').removeClass('layui-hide'); //显示重传
            }
        });

    });


</script>


<body  class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">新增周报</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    </div>
<!--导航表单-->
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree"  lay-filter="test">
            <li class="layui-nav-item"><a href="/homepage">首页</a></li>
            <li class="layui-nav-item  layui-this"><a href="/showinfomation">新增周报</a></li>
            <li class="layui-nav-item"><a href="/modelinfo/index">设置与模板设置</a></li>
            <li class="layui-nav-item"><a href="/usermodify">密码修改</a></li>
        </ul>
        </div>
    </div>


    <div class="layui-body">
    <div class="containor" style="margin-left: 10px;margin-right: 10px">
        <form class="layui-form" lay-filter="weeklyinfo">
        <!--div id="myform" class="layui-form-item" action="" style="font-size: 20px;color: #3F3F3F;margin-top: 30px" width="1000px"-->
            <!--获取用户名-->
            <div class="layui-form-item" style="margin-top:30px">
                <div class="layui-inline">
                    <label class="layui-form-label">用户名:</label>
                    <label class="layui-form-label"  id="username" style="width:50px">xx</label>

                    <!--<div class="layui-input-inline">
                            <input type="text" id ="name" name="user_name" required lay-verify="required"
                                   autocomplete="off" class="layui-input" style="border:0px">
                    </div>-->
                </div>
                <!-- 获取工号-->
                <div class="layui-inline">
                    <label class="layui-form-label">工号:</label>
                    <label class="layui-form-label"  id="workid">xxxxx</label>
<!--                    <div class="layui-input-inline">-->
<!--                        <input type="text" id="workid" name="user_id" required lay-verify="required"-->
<!--                               autocomplete="off" class="layui-input" style="border:0px">-->
<!--                    </div>-->
                    <!--获取部门-->
                </div>
                <!-- 获取部门-->
                <div class="layui-inline">
                    <label class="layui-form-label">部门:</label>
                    <label class="layui-form-label"  id="userunit" style="width:400px">xxxxxx</label>
<!--                    <div class="layui-input-inline">-->
<!--                        <input type="text" id="userunit" name="user_unit" required lay-verify="required"-->
<!--                               autocomplete="off" class="layui-input"  style="border:0px">-->
<!--                    </div>-->
                </div>
                <!--获取发送时间-->
                <div class="layui-inline">
                    <label class="layui-form-label">发送时间:</label>
                            <label name= "senddate" class="layui-form-label"  id="senddate" style="width:100px"></label>
<!--                    <div class="layui-input-inline">-->
<!--                        <input type="text" class="input" id="sys_date" >-->
<!--                    </div>-->
                </div>
            </div>
            <!--获取周报发送时间-->
            <div class="layui-form-item" >
                <div class="layui-inline">
                    <label class="layui-form-label" >周报周期</label>
                    <div class="layui-form-item">
                        <div class="layui-input-inline">
                            <input name= "range_date" type="text" class="layui-input" id="test1" required lay-verify="required">
                        </div>
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn "  onclick="getconfig('addbutton')" style="margin-left:50px" id="addbutton" >生成周报</button>
                </div>
            </div>
            <!--label class="layui-form-label">工号:</label>  <label class="layui-form-label"  id="workid">xxxxx</label>&nbsp>;
        <label class="layui-form-label">部门:</label>  <label class="layui-form-label"  id="userunit"  style="width:400px">xxxxxx</label><label-- class="layui-form-label" style="width:5px"> <span id="spanAAA" style="color:#F00">*</span></label>
        <label class="layui-form-label" style="width:100px">周报周期:</label>  <label class="layui-form-label" style="width:220px"><input type="text" class="input" id="test1"  ></label>
        <label class="layui-form-label" style="width:100px">发送日期</label>  <label class="layui-form-label"  id="sys_date" style="width:100px"></label>

        <button-- class="layui-btn "  onclick="getconfig('addbutton')" style="margin-left:50px" id="addbutton" >生成周报</button-->


        <!--问题表单-->
        <fieldset class="layui-elem-field layui-field-title" style="margin-left: 20px;">
            <legend style="text-align:left;">问题总结</legend>
        </fieldset>
        <div class="layui-form-item layui-form-text" style="text-align: center;margin-top: 20px;">
            <table class="layui-table" id="problemtables">
            <thead >
                <tr >
                    <th style="width:30px">编号</th>
                    <th>问题描述</th>
                    <th>解决方法&nbsp;<i class="layui-icon" style="float: right;color:gray;font-size:25px" onclick="addline('problemtables')">&#xe654;</i></th>
                </tr>
                </thead>
            <tbody >
            <tr>
                <td>1</td>
                <td>
                    <div class="layui-form-item layui-form-text">
                        <textarea name="questioninfo" placeholder="请输入内容" class="layui-textarea" style="OVERFLOW:hidden;border:0px"></textarea>
                    </div>
                </td>
                <td>
                    <div class="layui-form-item layui-form-text">
                        <textarea name="questionmethod" placeholder="请输入内容" class="layui-textarea" style="OVERFLOW:hidden;border:0px"></textarea>
                    </div>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
        <!--风险表单-->
        <fieldset class="layui-elem-field layui-field-title" style="margin-left: 20px;">
            <legend style="text-align:left;">风险总结</legend>
        </fieldset>
        <div class="layui-form-item layui-form-text" style="text-align: center;margin-top: 20px;">
            <table class="layui-table" id="risktables">
                <thead >
                <tr ><!--首行是默认的-->
                    <th style="width:30px">编号</th>
                    <th>风险描述</th>
                    <th>解决方法&nbsp;<i class="layui-icon" style="float: right;color:gray;font-size:25px" onclick="addline('risktables')">&#xe654;</i></th>

                </tr>
                </thead>

                <tbody >
                <tr><!--首行是默认的-->
                    <td>1</td>
                    <td>
                        <div class="layui-form-item layui-form-text">
                            <textarea name="riskinfo" placeholder="请输入内容" class="layui-textarea" style="OVERFLOW:hidden;border:0px"></textarea>
                        </div>
                    </td>
                    <td>
                    <div class="layui-form-item layui-form-text">
                        <textarea name="riskmethod" placeholder="请输入内容" class="layui-textarea" style="OVERFLOW:hidden;border:0px"></textarea>
                    </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
            <!--修改单情况表单-->
            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                <legend style="text-align:left;">修改单情况</legend>
            </fieldset>
            <div class="tablesa" style="text-align: center;margin-top: 50px;">
                <!--label class="layui-form-label" style="float:left;font-size:18px;width:100px">修改单情况</label-->
                <table class="layui-table" id="tstables">
                    <thead >
                    <tr ><!--按照tr定位的，误删-->
                    </tr>
                    </thead>
                    <tbody >
                    <tr><!--按照tr定位的，误删-->
                    </tr>
                    </tbody>
                </table>
            </div>



            <!--缺陷情况表单-->
            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                <legend style="text-align:left;">缺陷情况</legend>
            </fieldset>
            <div class="tablesa" style="text-align: center;margin-top: 50px;">
                <!--label class="layui-form-label" style="float:left;font-size:18px;width:100px">缺陷情况</label-->
                <table class="layui-table" id="bugtables" layui>
                    <thead >
                    <tr ><!--按照tr定位的，误删-->
                    </tr>
                    </thead>
                    <tbody >
                    <tr><!--按照tr定位的，误删-->
                    </tr>
                    </tbody>
                </table>
            </div>


        <!--本周及下周总结-->
        <fieldset class="layui-elem-field layui-field-title" style="margin-left: 20px;">
            <legend style="text-align:left;">本周及下周总结</legend>
        </fieldset>

        <table class="layui-table" id="sumtables">
            <thead >
            <tr >
                <th>本周总结</th>
                <th>下周总结</th>
            </tr>
            </thead>
            <tr>
                <td  width="50%">
                    <div class="layui-form-item layui-form-text">
                            <textarea name="weeksuminfo" placeholder="请输入内容" class="layui-textarea" style="OVERFLOW:hidden;height:100%;width:100%;border:0px">
【专项】:
【自动化】:
【其他】:
                            </textarea>
                        </div>
                </td>
                <td  width="50%">
                    <div class="layui-form-item layui-form-text">
                            <textarea name="nextweekinfo" placeholder="请输入内容" class="layui-textarea" style="OVERFLOW:hidden;height:100%;width:100%;border:0px">
【专项】:
【自动化】:
【其他】:
                            </textarea>
                    </div>
                </td>
            </tr>
            </table>

        <!--附件选择-->
        <fieldset class="layui-elem-field layui-field-title" style="margin-left: 20px;">
            <legend style="text-align:left;">选择附件</legend>
        </fieldset>
        <div class="layui-form-item">
            <div class="layui-upload">
                <button type="button" class="layui-btn" id="testList"><i class="layui-icon">&#xe67c;</i>选择文件</button>
                <!--button type="button" class="layui-btn" id="testListAction">开始上传</button-->
                <div class="layui-upload-list">qqerg 
                    <table class="layui-table">
                        <thead>
                        <tr><th>文件名</th>
                            <th>大小</th>
                            <th>状态</th>
                            <th>操作</th>
                        </tr></thead>
                        <tbody id="demoList"></tbody>
                    </table>
                </div>
            </div>
        </div>

        <!--保存 发送等按钮-->
            <div class="layui-form-item" style="margin-top: 30px">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="contentsave">保存内容</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置内容</button>
                    <button  class="layui-btn layui-btn-primary" onclick="sendmail('btn_sendMail')"  id ="btn_sendMail">发送邮件</button>

                </div>

            </div>
        </form>
    </div>
    </div>
    </div>
</div>

</body>
</html>